h1 {
    color: black;
}
.box1 {
    background-color:brown ;
     border-radius: 10px; /*arredonda os cantos*/
    padding: 10px;
    margin:10px
    c
    

}

body {

    background-color: ivory;
    
    text-align: center;
    font-family: 'Poppins';
}

